.main {
  width: 100%;
  padding-top: 40px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin: 0 50px 10px 70px;
  width: 90%;
}

.newContactBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.addStudentBtn button {
  width: 210px;
  height: 44px;
  background-color: #feaf00;
  color: white;
  font-weight: 500;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: none;
}

.newContactBtn button:hover {
  background-color: #cb8b00;
  cursor: pointer;
}

.title h1 {
  font-size: 30px;
}

.container {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
